.refresh {
    -fx-background-color: #28175c;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 30px;
}

.under_board {
	-fx-background-color: #6648c4;
	-fx-background-radius: 30;
}

.board {
	-fx-background-radius: 30;
}

.background {
	-fx-background-color: linear-gradient(to top right, #1d0e4c, #442dad);
}

.playerRound {
    -fx-background-color: #28175c;
    -fx-background-radius: 20px;
	-fx-text-fill: white;
}

.playerActive {
    -fx-background-radius: 20px;
    -fx-border-color: white;
    
    -fx-border-width: 3; 
    -fx-border-style: solid;	
    -fx-border-radius: 20px;
}

.playFriend {
    -fx-background-color: #ff2267;
    -fx-background-radius: 5px;
	-fx-text-fill: white;
}

.difficultyBtn:focused {
    -fx-effect: dropshadow(gaussian, rgba(255, 34, 103, 0.5), 10, 0.5, 0.0, 0.0);
}

.easy {
    -fx-background-color: #ff2267;
	-fx-text-fill: white;
	
    -fx-background-radius: 5px 0px 0px 5px;
    -fx-border-radius: 5px 0px 0px 5px;
    -fx-border-color: #C14062;
    -fx-border-width: 1; 
    -fx-border-style: solid;
}

.medium {
    -fx-background-color: #ff2267;
	-fx-text-fill: white;
	
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-border-radius: 0px 0px 0px 0px;
    -fx-border-color: #C14062;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.hard {
    -fx-background-color: #ff2267;
	-fx-text-fill: white;
	
    -fx-background-radius: 0px 5px 5px 0px;
    -fx-border-radius: 0px 5px 5px 0px;
    -fx-border-color: #C14062;
    -fx-border-width: 1; 
    -fx-border-style: solid;
}

.playerName {
	-fx-font-size: 1.3em;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
}

Label {
	-fx-text-fill: white;
}
